            *
            {
                font-family: 'Noto Sans KR', sans-serif;
                list-style: none;
                text-decoration: none;
                border-collapse: none;
                margin:0px;
                padding:0px;
                color:black;
            }

            .intro_bg
            {
                background-image:url('image/intro.png');
                width:100%;
                height:718px;
            }

            .header
            {
                width:1280px;
                margin:auto;
                background-color: red;
            }